<h2>Hi there!</h2>
<p>Seeking something <em>different</em> to do? Interested in expanding your mind, impacting your world? Want to learn more about politics, the environment, acrobatics, business or science? Start searching below for events in your city!</p>