#credits-modal.modal.hide.fade
  .modal-header
    <a href="#" class="close">&times;</a>
    %h3 ActivateHub, brought to you by...
  .modal-body
    %ul
      %li Lindsay Caron Epstein (<a href="http://twitter.com/#!/ActivateLinds">@ActivateLinds</a>), Founder & Evangelist
      %li <a href="http://pdxhub.org/people/eric"> Eric Drechsel</a>, App Development
      %li Peter W (<a href="http://twitter.com/#!/techieshark">@techieshark</a>), App Development
      %li <a href="http://internet-alacarte.com/">Alan Ashbaugh</a>, Blog Design & Development
      %li <a href="http://alicianagel.com">Alicia Nagel</a>, Logo & Branding

    This calendar is an Open Source project, with <a href="https://github.com/activate/activation_calendar">the code</a> on Github. We couldn't have done it without these great projects:
    %ul
      %li <a href="http://calagator.org">Calagator</a> (see <a href="https://github.com/activate/activation_calendar/blob/master/CONTRIBUTORS.md">contributors</a>)
      %li <a href="http://harvesthq.github.com/chosen/">Chosen</a>
      %li <a href="http://somerandomdude.com/work/iconic/">Iconic</a>

    %h4 Contact us
    Your comments and questions are welcomed by team memebers at the individual contact info listed above, or generally via <a href="https://twitter.com/#!/activatelinds">@ActivateLinds<a>, <a href="https://www.facebook.com/pages/Activate-Huborg/189347344473169">our Facebook page</a>, or at <a href="mailto:"team@activatehub.org">team@activatehub.org</a>.  Thanks for helping us save the world, or at least your Thursday night.
  /.modal-footer
  / <a href="#" class="btn primary">Primary</a>
  / <a href="#" class="btn secondary">Secondary</a>
%p
  %span#copyright Copyright 2012 Activate! Hub
  %span#branding Branding by <a href="http://www.alicianagel.com/">Alicia Nagel Creative, LLC</a>
  %span#credits <a href="#" data-controls-modal="credits-modal" data-backdrop="true" data-keyboard="true">Credits &amp; Contacts</a>
