<h4>Subscribe To</h4>
<ul>
  <li><%= link_to "iCalendar feed", url_for(:controller => "events", :action => "index", :protocol => "webcal", :only_path => false)+".ics" %></li>
  <li><%= link_to "Atom feed", events_url(:format => "atom") %></li>
</ul>
