%h1 Organizations

%table
  %thead
    %tr
      %th Organization
      %th Website

  - for organization in @organizations
    %tr
      %td= link_to organization.name, organization
      %td= organization.url