*.data
*.diff
*.solr
*.sql
*.swp
*.tmp
*~
.dev
.dtach
.rvmrc
.sass-cache
.vagrant
/.rbenv-vars
Makefile
Vagrantfile.local
config/secrets.yml
config/sunspot.yml
coverage.info*
coverage/*
db/*.sqlite3
db/*.sqlite3.*
index/*
log/*
solr/data/*
tags
tmp/*
tmp/cache/*
tmp/pids/*
tmp/sessions/*
tmp/sockets/*
vagrant/cookbooks/vagrant/recipes/local.rb
.ruby-gemset
.ruby-version

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
.idea
