%h2.main-title Events

#admin-content
  %table.index-table
    %thead
      %tr
        %th.title Title
        %th.start-date Start Date
        %th.end-date End Date
        %th.venue Venue
    %tbody
      - @events.each do |event|
        %tr
          %td.title= link_to event.title, event_path(event), :target => '_blank'
          %td.start-date= event.start_time.to_date
          %td.end-date= event.end_time.to_date
          %td.venue
            - if venue = event.venue
              = link_to event.venue.title, venue_path(venue), :target => '_blank'
