<h1><%= @topic.name %></h1>
<p>
    <b> Upcoming Events:</b>
    <%= render :partial => 'events/list', :locals => { :events =>  @topic.events.future.sort_by(&:start_time) } %>
</p>
<p>
    <b> Past Events:</b>
    <% if @topic.events.past.empty? %>
    <ul class="event_list">
      <li>
        <i> No past events</i>
      </li>
    <% else %>
      <%= @topic.events.past.sort_by(&:start_time) %>
      <% end %>

</p>
