:ruby
  # skip topics and types w/o any future events
  @topics = @topics.select {|t| t.events.future.any? }
  @types = @types.select {|t| t.events.future.any? }

= render 'filters/topic', :topics => @topics, :selected => @topic
= render 'filters/type', :types => @types, :selected => @type
= render 'filters/date'
