.subnav.events-subnav
  %ul
    %li{:class => subnav_class_for('events', 'index')}= link_to t('.events'), events_path
    %li{:class => subnav_class_for('events', 'new')}= link_to t('.new_event'), new_event_path
    -# %li{:class => subnav_class_for('sources', 'new')}= link_to t('.new_source'), new_event_path
