%h2.main-title Venues

#admin-content
  %table.index-table
    %thead
      %tr
        %th Title
        %th # Events
        %th Address
    %tbody
      - @venues.each do |venue|
        %tr
          %td= link_to venue.title, venue_path(venue)
          %td= venue.events.non_duplicates.count
          %td= venue.full_address || venue.address
