<div id="new_event_form">
  <div class="alert alert-info"
    <%= render :partial => 'site/appropriateness_message' %>
  </div>

  <%= render :partial => 'form', :locals => {:event => @event} %>
</div>
