
   /* Footer (style from Bootstrap)
-------------------------------------------------- */
.footer {
  background-color: #eee;
  padding: 15px 0;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  text-align: center;
}

.footer #branding {
  border-left: 1px solid #D0D0D0;
  margin-left: 0.8em;
  padding-left: 1em;
}

.footer #credits {
  border-left: 1px solid #D0D0D0;
  margin-left: 0.8em;
  padding-left: 1em;
}

.footer p {
  color: #555;
}