/*
 *= require_self
 *= require chosen
 *= require formtastic-bootstrap
 *= require layout
 *= require theme-forms
 *= require jquery-ui-bootstrap/jquery-ui-bootstrap
 *= require calendar
 *= require overrides
*/

   /* Footer (style from Bootstrap)
-------------------------------------------------- */
.sidebar .description {
  text-align: center;
  padding: 10px;
  h3 { font-size: 14px }
  p { margin: 10px 0px; }
}

.footer {
  background-color: #eee;
  padding: 15px 0;
  text-shadow: 0 1px 0 white;
  border-top: 1px solid #e5e5e5;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  box-shadow: inset 0 5px 15px rgba(0,0,0,.025);
  text-align: center;
}

.footer #branding {
  border-left: 1px solid #D0D0D0;
  margin-left: 0.8em;
  padding-left: 1em;
}

.footer #credits {
  border-left: 1px solid #D0D0D0;
  margin-left: 0.8em;
  padding-left: 1em;
}

.footer p {
  color: #555;
}

.empty {
  background-color: rgb(200, 200, 200) !important;
}

/******************
  nav overrides
******************/

@media (min-width: 821px) {

  body {
    padding-top: 85px !important; /* this needs to be dynamic */
  }

  .navbar .brand img {
    width: 100px !important;
    height: 47px !important;
    padding: 5px !important;
  }

  .nav > li {
    font-size: 14px !important;
  }

  .nav > li > a {
    line-height: 34px !important; /* this needs to be dynamic */
  }

  .navbar .navbar-search {
    padding-top: 10px; /* this needs to be dynamic */
  }

}
