:ruby
  collection ||= raise ArgumentError, "collection is required in view partial #{__FILE__}"
  object_name = collection.klass.name.downcase
  collection_name = object_name.pluralize

%h3.wiki-index-title= t('.title', :obj => collection_name)

.wiki-actions
  - add_link = link_to t('.add'), new_polymorphic_path(collection.klass)
  = t('.actions', :add => add_link, :obj => object_name, :collection => collection_name).html_safe
