$link-color: #08c;
$link-hover: #057;

$text-color: #333;
$edge-color: #ddd;

$navbar-bgcolor: #333;
$navbar-link-color: #999;
$navbar-link-hover: #fff;
$navbar-active-bgcolor: #1a1a1a;
$navbar-active-color: #fff;
