/*---[ global ]-------------------------------------------------------------*/

$link-color: #08c;
$link-hover: #057;

$background-color: #fff;
$text-color: #333;
$edge-color: #ddd;


/*---[ layout ]-------------------------------------------------------------*/

$navbar-height: 60px;
$sidebar-width: 300px;
$main-width: 700px;

$navbar-bgcolor: #333;
$navbar-link-color: #999;
$navbar-link-hover: #fff;
$navbar-active-bgcolor: #1a1a1a;
$navbar-active-color: #fff;

$sidebar-bgcolor: #f2f2f2;
$sidebar-edge-color: $edge-color;

$important-edge-color: #f89406;
$important-title-color: #f89406;
$important-text-color: $text-color;


/*---[ forms ]--------------------------------------------------------------*/

$form-label-width: 100px;

$form-border: $edge-color;
$form-field-text-color: $text-color;
$form-field-bgcolor: $background-color;
$form-highlight-border: rgba(82, 168, 236, 0.8);
$form-hint-text-color: #888;
$form-error-text-color: #d00;

$form-dropdown-edge-color: rgba(82, 168, 236, 0.8);
$form-dropdown-bgcolor: $background-color;
$form-dropdown-text-color: $text-color;
$form-dropdown-highlight-border: $link-color;
$form-dropdown-highlight-bgcolor: #d9edf7;
$form-dropdown-highlight-text-color: #058;

$form-cal-edge-color: rgba(82, 168, 236, 0.8);
$form-cal-bgcolor: $background-color;
$form-cal-text-color: $text-color;
$form-cal-day-border: $edge-color;
$form-cal-day-bgcolor: $background-color;
$form-cal-day-text-color: $text-color;
$form-cal-day-highlight-border: $link-color;
$form-cal-day-highlight-bgcolor: #d9edf7;
$form-cal-day-highlight-text-color: #058;
$form-cal-today-border: #cc8;
$form-cal-today-bgcolor: #ffa;
$form-cal-today-text-color: $text-color;


/*---[ events ]-------------------------------------------------------------*/

$list-date-width: 100px; // width of date header (to left of events for that day)
$cal-day-min-height: 190px; // give calendar days a common size
$cal-slot-height: 30px; // a slot on the calendar an event can fit in

$welcome-bgcolor: #d9edf7;
$welcome-edge-color: #bce8f1;
$welcome-title-color: $text-color;
$welcome-text-color: #3a87ad;

$cal-month-edge-color: #333;
$cal-week-edge-color: #ddd;
$cal-today-bgcolor: #ffa;

$cal-event-bgcolor: #dde;
$cal-event-border: #ccc;
$cal-event-text-color: $text-color;
$cal-event-hover-bgcolor: #bbf;
$cal-event-hover-border: #88c;
$cal-event-hover-text-color: #058;

$cal-event-past-bgcolor: #eee;
$cal-event-past-border: #ddd;
$cal-event-past-text-color: #aaa;
$cal-event-past-hover-bgcolor: #ddd;
$cal-event-past-hover-border: #ccc;
$cal-event-past-hover-text-color: #888;


/*---[ venues ]-------------------------------------------------------------*/

$venue-card-width: $main-width;
$venue-card-height: 250px;
$venue-card-details-width: 350px;

$venue-closed-text-color: #c33;
$venue-card-details-bgcolor: rgba(255,255,255,0.8);
$venue-card-details-text-color: $text-color;


/*---[ tags, topics and types ]---------------------------------------------*/

$topic-bgcolor: #468847;
$topic-link-color: #fff;

$type-bgcolor: #f89406;
$type-link-color: #fff;
