/*
 *= require reset
 *= require layout
 *= require events
 *= require organizations
 *= require venues
 *= require sources
 *= require admin
 *= require_self
 *= require markdown
 */

@import "variables";

/*---[ global ]-------------------------------------------------------------*/

body {
  background-color: $background-color;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: $text-color;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

a:link, a:visited, a:active {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
  text-decoration: underline;
}

input[type=text], input[type=url], textarea {
  padding: 5px;
  border: 1px solid $edge-color;
  background-color: $background-color;
  color: $text-color;
}

.action-btn {
  &:hover {
      text-decoration: none;
  }
  -webkit-appearance: button;
  color: #0088cc;
  background-color: rgb(192, 192, 192);
  border-color: rgb(192, 192, 192);
  border-style: outset;
  border-width: 2px;
  display: inline-block;
  font-size: 11px;
  margin: 2px;
  padding: 10px 15px;
}


/*---[ sidebar ]------------------------------------------------------------*/

#sidebar-welcome {
  border: 1px solid $welcome-edge-color;
  background-color: $welcome-bgcolor;
  text-align: center;

  .welcome-title {
    margin-bottom: 10px;
    white-space: pre-line;
    color: $welcome-title-color;
  }

  .welcome-text {
    margin: 10px;
    color: $welcome-text-color;
  }
}

#sidebar-filters {
  .topics-list, .types-list {
    margin-bottom: 10px;
  }

  .date-filter-form {
    margin-bottom: 10px;

    .field, .buttons {
      clear: left;
    }

    .label {
      float: left;
      line-height: 30px;
      text-align: right;
      width: 40px;

      label {
        vertical-align: middle;
      }
    }
    .value {
      margin-left: 50px;

      input {
        width: 120px;
      }
    }

    .buttons {
      margin: 5px 50px;
      a { margin-left: 5px; }
    }
  }
}

#sidebar-wiki-props {
  text-align: center;

  .wiki-actions {
    margin-bottom: 10px;
  }

  .wiki-metadata {
    margin: 10px 0px;
    border-top: 1px solid $edge-color;
    padding-top: 10px;
    font-size: 11px;
  }
}


/*---[ footer ]-------------------------------------------------------------*/

/*---[ topics and types ]---------------------------------------------------*/

.topic, .type {
  display: inline-block;
  margin: 2px;
  padding: 2px 4px;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.75;
  cursor: pointer;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.topic:hover, .type:hover {
  opacity: 1.0;
  text-decoration: none;
}

.topic {
  border: 1px solid $topic-bgcolor;
  background-color: $topic-bgcolor;
  color: $topic-link-color;
}

.topic:link, .topic:active, .topic:visited {
  color: $topic-link-color;
}

.topic.empty {
  background-color: transparent;
  color: $topic-bgcolor;
  border-color: transparent;
}

.topic.empty:hover {
  background-color: $topic-bgcolor;
  border-color: $topic-bgcolor;
  color: $topic-link-color;
}

.type:link, .type:active, .type:visited {
  color: $topic-link-color;
}

.type {
  border: 1px solid $type-bgcolor;
  background-color: $type-bgcolor;
  color: $type-link-color;
}

.type.empty {
  background-color: transparent;
  color: $type-bgcolor;
  border-color: transparent;
}

.type.empty:hover {
  background-color: $type-bgcolor;
  border-color: $type-bgcolor;
  color: $type-link-color;
}

.clear-topic, .clear-type {
  font-style: italic;
}


/*---[ general ]------------------------------------------------------------*/

#query {
  display: none;
}

// how to visually highlight when a i18n translation is missing
.translation_missing {
  color: $error-text-color;
  text-decoration: overline;
}

.flash-msg {
  margin: 10px 0px 20px 0px;
  padding: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  font-size: 14px;

  // use notice color scheme by default (in case we encounter unknown class)
  border: 1px solid $flash-notice-border;
  background-color: $flash-notice-bgcolor;
  color: $flash-notice-text-color;
}

.flash-msg.failure {
  border: 1px solid $flash-failure-border;
  background-color: $flash-failure-bgcolor;
  color: $flash-failure-text-color;
}

.flash-msg.success {
  border: 1px solid $flash-success-border;
  background-color: $flash-success-bgcolor;
  color: $flash-success-text-color;
}
