@import "variables";


/*---[ navbar ]-------------------------------------------------------------*/

#navbar {
  @media print {
    display: none;
  }
  position: fixed;
  top: 0px;
  width: 100%;
  height: $navbar-height;
  line-height: $navbar-height;
  white-space: nowrap;
  background-color: $navbar-bgcolor;
  z-index: 10;

  a:link, a:visited, a:active {
    text-decoration: none;
    color: $navbar-link-color;
  }

  a:hover {
    color: $navbar-link-hover;
  }

  background-image: -moz-linear-gradient(top, $navbar-gradient1, $navbar-gradient2);
  background-image: -ms-linear-gradient(top, $navbar-gradient1, $navbar-gradient2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($navbar-gradient1), to($navbar-gradient2));
  background-image: -webkit-linear-gradient(top, $navbar-gradient1, $navbar-gradient2);
  background-image: linear-gradient(top, $navbar-gradient1, $navbar-gradient2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$navbar-gradient1', endColorstr='$navbar-gradient2', GradientType=0);

  /* navbar shadow which gives navbar a raised-up look */
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

#navbar-logo {
  float: left;
  padding: 0px 10px;

  img {
    display: inline;
    vertical-align: middle;
  }
}

#navbar-menu {
  float: left;

  ul, ul li {
    display: inline;
  }

  a {
    float: left;
    display: block;
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0px 15px;
    vertical-align: middle;
    font-size: 15px;
  }

  a:hover {
    background-color: $navbar-bgcolor-hover;
  }

  .active a {
    background-color: $navbar-active-bgcolor;
    color: $navbar-active-color;
  }
}

#navbar-toggle {
  display: none;
}

#navbar-search {
  float: right;
  padding: 0px 20px;
}


/*---[ sidebar ]------------------------------------------------------------*/

#sidebar {
  @media print{
    display: none;
  }
  float: left;
  position: relative;
  width: $sidebar-width;
  margin: 0px 20px 20px 20px;
}

.sidebar-box {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid $sidebar-edge-color;
  background-color: $sidebar-bgcolor;

  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  h3 {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 5px;
  }

  ul {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}


/*---[ main ]---------------------------------------------------------------*/

#main {
  margin: ($navbar-height + 20px) 20px 20px ($sidebar-width + 60px);
  @media print {
    margin: 20px;
  }

  .main-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
    font-weight: normal;
  }
}

#main-content {
  max-width: $main-width;
}


/*---[ footer ]-------------------------------------------------------------*/

#footer {
  @media print {
    display: none;
  }
  margin-top: 60px;
  padding: 15px 0px;
  border-top: 1px solid $footer-edge-color;
  -webkit-box-shadow: inset 0 5px 15px rgba(0,0,0,0.025);
  -moz-box-shadow: inset 0 5px 15px rgba(0,0,0,0.025);
  box-shadow: inset 0 5px 15px rgba(0,0,0,0.025);
  background-color: $footer-bgcolor;
  color: $footer-text-color;
  text-align: center;
  clear: both;

  #copyright, #branding {
    white-space: nowrap;
  }

  #copyright {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid $footer-edge-color;
  }
}
