@import "variables";


/*---[ organizations index ]------------------------------------------------*/

.organizations-view {
  width: $main-width;
  overflow: auto; // magic; keeps 'clear:left' from clearing sidebar
  margin-top: 20px;

  .organization {
    clear: left;
    overflow: auto;
    list-style: none;
    padding-bottom: 20px;
  }

  .organization-name {
    font-weight: bold;
  }

  .organization-url {
    font-size: 11px;
    font-style: italic;
  }

  .organization-url-label {
    float: left;
    padding-right: 5px;
  }
}


/*---[ organizations show ]-------------------------------------------------*/

.organizations-show {
  .organization-title {
    line-height: 32px;
    font-size: 24px;
    font-weight: normal;
  }

  .organization-source-actions {
    font-style: italic;
    margin-top: -5px;
    margin-bottom: 20px;

    .show-sources, .add-source {
      display: inline;
    }
  }

  .organization-url-title, .organization-description-title, .organization-sources-title, .future-events-title, .past-events-title {
    margin: 20px 0px 0px 0px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .organization-description {
    max-width: $main-width;
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 12px;
    text-align: justify;
  }

  .no-content {
    color: $light-text-color;
    font-style: italic;
  }

  .organization-topics {
    margin-top: -10px;
  }

  .organization-sources-container {
    display: none;
  }

  .organization-sources {
    margin: 10px 0px 20px 20px;

    .source-title {
      font-weight: bold;
    }

    .source-url {
      max-width: $main-width;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 11px;
      font-style: italic;
    }

    .source-url-label {
      float: left;
      padding-right: 5px;
    }

    .source.disabled {
      display: none;
    }

    .no-sources {
      font-style: italic;
    }
  }

  .future-events, .past-events {
    margin: 10px 0px 20px 0px;

    .no-events {
      font-style: italic;
      margin-left: 20px;
    }
  }

  .day.no-events {
    display: block;
  }
}

