@import "variables";

/*---[ venue card (event and venue show) ]----------------------------------*/

.venue-card {
  .venue-title {
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    font-weight: bold;
  }

  .street-address {
    clear: left;
  }

  .locality, .region, .postal-code, .country-name, .google-maps-link {
    display: inline;
  }

  .google-maps-link {
    padding-left: 5px;

    a {
      font-style: italic;
    }
  }

  .venue-closed {
    font-weight: bold;
    font-style: italic;
    color: $venue-closed-text-color;
  }
}

.venue-card.has-location {
  position: relative;
  overflow: visible;
  max-width: $venue-card-width;
  min-height: $venue-card-height - 2px;
  margin: 5px 0px 10px 0px;
  background-color: $background-color;
  border: 1px solid $link-color;
  border-left-width: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  #google_map {
    position: relative;
    float: right;
    width: 100%;
    height: $venue-card-height - 2px;
  }

  .venue-card-details {
    position: absolute;
    max-width: $venue-card-details-width;
    margin: 10px;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: $venue-card-details-bgcolor;
    color: $venue-card-details-text-color;

  }

  .venue-title {
    overflow: hidden;
    max-width: $venue-card-details-width - 30px;
    text-overflow: ellipsis;
  }

  .public-wifi {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    float: right;
    background: image-url('public_wifi-16x16.png') no-repeat;
  }
}


/*---[ venue index ]--------------------------------------------------------*/

.venues-index {
  #main {
    overflow: auto; // magic; keeps 'clear:left' from clearing sidebar
  }

  .show-all-venues {
    margin-top: -25px;
    margin-bottom: 20px;
    font-style: italic;
  }
}

.venues-view {
  max-width: $main-width;

  .most-active-venues, .newest-venues {
    display: inline-block;
    max-width: ($main-width - 50px) / 2;
  }

  .most-active-title, .newest-title {
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
  }

  .newest-venues {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid $edge-color;
  }

  .all-venues, .venues-map {
    display: none;
  }
}

.venues-view.list.all {
  .most-active-venues, .newest-venues, .show-all-venues {
    display: none;
  }

  .all-venues {
    display: block;
  }
}

.venues-view.map {
  .most-active-venues, .newest-venues, .all-venues, .show-all-venues {
    display: none;
  }

  .venues-map {
    display: block;

    background-color: $background-color;
    border: 1px solid $link-color;
    border-left-width: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    #google_map {
      width: 100%;
      height: 500px;
    }
  }
}

.venues-list {
  .venue {
    list-style: none;
    margin-bottom: 20px;
  }

  .venue-title {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-weight: bold;
  }

  .venue-events-count, .venue-age, .venue-address {
    font-style: italic;
    font-size: 11px;
  }
}
