.subnav.organizations-subnav
  %ul
    %li{:class => subnav_class_for('organizations', 'index')}= link_to t('.organizations'), organizations_path
    %li{:class => subnav_class_for('organizations', 'new')}= link_to t('.new_organization'), new_organization_path
